*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.delete-car-form {
  padding: 20px;
}
